.homePage {
    height: 100vh;
    overflow: hidden;
    display: grid;
    position: relative;
    grid-template-rows: 1fr 2fr 4fr;
}

.homePage-bgimg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.default-bg {
    background-image: url('/asset/BG_sunny.jpg');
}

.clouds-bg {
    background-image: url('/asset/BG_cloudy.jpg');
}

.snowy-bg {
    background-image: url('/asset/BG_snowy.jpg');
}

.rainy-bg {
    background-image: url('/asset/BG_rainy.jpg');
}

.storm-bg {
    background-image: url('/asset/BG_storm.jpg');
}

.haze-bg {
    background-image: url('/asset/BG_haze.jpg');
}

.mist-bg {
    background-image: url('/asset/BG_mist.jpg');
}

.windy-bg {
    background-image: url('/asset/BG_windy.jpg');
}