.city-page {
    width: 100vw;
    min-height: 100vh;
    background: rgba(129, 64, 64, 0.287);
}

.city-search-display {
    left: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.5s linear;
}

.city-search-display-bg {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.123);
}

.list-city {
     :hover {
        background: rgb(7, 116, 149);
    }
}

.select_show {
    display: input;
}

.select-off {
    display: none;
}